{% extends "base.html" %}
{% block start %}
<nav class="navbar navbar-expand-lg bg-body-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/recipe">{{request.user|title}}</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/recipe">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="/logout" >Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search" method="get">
        <input class="form-control me-2" name ="search" type="search" placeholder="Recipe name..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container mt-5 bg-secondary bg-gradient bg-opacity-50 card">
      <table class="table table-striped my-4 border"> 
        <thead>
            <tr>
                <th scope="col">S. No</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                
                <th scope="col">Action</th>
            </tr>
        </thead>
        {% for recipe in recipes %}
        <tbody>
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{recipe.user.username}}</td>
                <td>{{recipe.favoriteRecipe.description|truncatechars:100}}</td>
                <td>
                  <img src="/media/{{recipe.favoriteRecipe.images}}" class="rounded float-start img-fluid" alt="Recipe image">
                </td>
                
                <td>
                  <a href="/delete-recipe/{{recipe.id}}" class="btn btn-danger" aria-current="time">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}